<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ascii-art-web</title>
    <link rel="stylesheet" href="/ui/css/style.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <h1>ASCII-ART-WEB</h1>
        </div>
        <div class="form-content">
            <form action="/post_article" method="post">
                <textarea name="title" class="input-type" placeholder="Enter the text that you would like to display in a graphical representation using ASCII"></textarea>
                <span class="top"></span>
                <span class="right"></span>
                <span class="bottom"></span>
                <span class="left"></span>
                
                <div class="submit-button">
                    <button class="button" type="reset">Reset</button>
                    <select class="button" name="ascii-style" >
                        <option value="">--Please select a banner--</option>
                        <option value="Standard">Standard</option>
                        <option value="Shadow">Shadow</option>
                        <option value="Thinkertoy">Thinkertoy</option>
                    </select>
                    <button class="button" type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="outputbox">
            <form action="get_article" method="get">
                <div name="output_title" class="output-type" method="get">{{.Output}}</div>
            <!-- <textarea name="output_title" class="output-type" method="get">{{.Output}}</textarea> -->
            </form>
        </div>
    </div>
</body>
</html>
